.hero-section{
    padding: 1rem;
    /* border : 2px solid red ;  */
    /* background: radial-gradient(circle at bottom right, rgba(59, 130, 246, 0.1) 0%, #111827 50%); */

background: radial-gradient(
  500px circle at 90% 100%,     /* Tight glow, positioned bottom-right */
  rgba(255, 255, 255, 0.08),    /* Soft white glow */
  rgba(10, 20, 40, 1) 60%       /* Fade into solid navy dark */
);
background-color: #0a1428; 

min-height: 70vh;
display: flex;
justify-content: center;
align-items: center;
}

.hero-section-container{
    color: var(--text-color);
    text-align: center;
    width: 60%;
    /* line-height: 3rem; */


}
/* .hero-section-container > *{
    margin-top: 1rem;
} */
/* .hero-btn-container > *{
    margin-top: 3rem;
} */
.hero-title{
    font-weight: 700;
    font-size: 4rem;
    line-height: 3rem;
}
.hero-second-title{
    font-weight: 700;

    color: var(--primary-color);
    font-size: 3rem;
    line-height: 3rem;
margin-top: 1rem;

}

.hero-desc{
    color: var(--text-color);
    /* width: 50%; */
margin-top: 2rem;

    
}

.hero-btn-container{
display: flex;
justify-content: center;
gap: 2rem;
margin-top: 2rem;
}
/* .hero-btn-container{
} */
.hero-btn-container button{
    display: inline-block;
    padding: .5rem 2rem;
    border-radius: 1rem;
    display : flex; 
    justify-content: center; 
    align-items : center; 
    
}


.start-typing-btn{
    color: white;
    border: 2px solid var(--primary-color);
}

.view-demo-btn{
    
}




@media screen and (max-width: 768px) {
    .hero-section{
        height: 80vh;
    }
  .hero-section-container {
    width: 100%;
  }

  .hero-title{
    font-size: 3rem;
    font-weight: 800;
    

    /* font-weight: bolder; */
  }
  .hero-second-title {
    /* font-size: 2rem;
    line-height: 2rem; */
    /* font-size: 2rem; */
    font-size: 2rem;
    font-weight: 800;
    
  }

  .hero-desc {
    width: 100%;
    padding: 0 1rem;
  }

  .hero-btn-container {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .hero-btn-container button {
    width: 100%;
    max-width: 300px;
  }
}
