:root{
    --typing-main-color: #161022;
    --typing-box-color: #1C162C;
    --typing-button-color: #2F2348;
    --typing-hover-dark-color: #171122;
    --box-border-radius: 8px;
    --box-default-border:  1px solid #636161;

    --font-bold: 500;
    --font-bolder: 800;

    --typing-value-micro: .2rem;
    --typing-value-small: .5rem;
    --typing-value-medium: 1rem;
    --typing-value-large: 2rem;
    --typing-primary-text-color: #ffffff;
}

.typing-container{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--typing-main-color);
    padding: var(--typing-value-medium);   
    color: var(--typing-primary-text-color);
}
.typing-box-container{
    background-color: var(--typing-box-color);
    padding: var(--typing-value-medium);
    border-radius: var(--box-border-radius);
    border: var(--box-default-border);
    margin: var(--typing-value-medium);
}
.mode-selector-container{
    display: flex;
}
.mode-left-section{
/* display: flex; */
}

.timer-question-mode-container{
    background-color: var(--typing-button-color);
    border-radius: var(--box-border-radius);
    display: flex;
    /* border : 2px solid red ;  */
    gap: 1rem;
    padding: var(--typing-value-micro);

}

.mode-button{
    transition: .3s all;
    padding: var(--typing-value-small) var(--typing-value-large);
cursor: pointer;
border-radius: var(--box-border-radius);
font-weight: var(--font-bold);


}
.mode-button:hover{
    background-color: var(--typing-hover-dark-color);
}
.timer-mode-button{
    background-color: var(--typing-hover-dark-color);
}
.question-mode-button{}

.just-answer-or-question-selector-container{
    background-color: var(--typing-hover-dark-color);
    padding: var(--typing-value-medium);
    border-radius: var(--box-border-radius);
    border: var(--box-default-border);
    font-weight: var(--font-bolder);
    margin-top: var(--typing-value-medium);
    
    display : flex; 
    justify-content: space-between; 
    align-items : center; 
    
}

#typing-mode-switch{
    border : 2px solid red ;
     
}