@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  
  --primary-color: #22C55E;
  
  --background: #111827;
  --background-second: #151D2C;
  --card-bg-hover: #173D35;
  --text-color: #FFFFFF;
  --font-roboto: 'Roboto', sans-serif;
}
html body{
  font-family: var(--font-roboto);
}
/* GRADIENT BG: 

background: radial-gradient(circle at bottom right, rgba(59, 130, 246, 0.1) 0%, #111827 50%);

OR 

background: radial-gradient(ellipse at bottom right, rgba(34, 197, 94, 0.08) 0%, #111827 40%); */
